* {
  font-family: 'Times New Roman', Times, serif;
}

/* Center the timetable on the webpage */
.heading {
  text-align: center;
  font-size: 46px;
}

.timetable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style for the whole timetable container */
.timetable {
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Style for the table */
table {
  width: 90%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse;
  padding: 16px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Style for table header (days and times) */
th {
  background-color: #584d9f;
  color: black;
  padding: 20px;
  /* font-size: 25px; */
  text-align: center;
}

/* Style for table cells (events) */
td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  /* font-size: 25px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Different colors for each subject */

thead th {
  color: #ffffff;
  background: #584d9f;
}


thead th:nth-child(odd) {
  color: #ffffff;
  background: #584d9f;
}

/* tr:nth-child(even) {
  background: #584d9f;
} */

.day {
  background-color: #584d9f;
  font-weight: bold;
  color: white;
}