.user-boxes {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  margin: 20px;
  margin-top: 200px;
}

.box {
  width: 400px;
  padding: 20px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f0f0f0;
}

.admin {
  background-color: #584d9f;
}

.faculty {
  background-color: #584d9f;
}

.student {
  background-color: #584d9f;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  /* margin-right: 30px; */
}

p{
  text-align: center;
  font-size: 24px;
}

/* body {
  background-color: #584d9f;
} */